/* Color Palette */
:root {
    --rich-black: #011627;
    --imperial-red: #f71735;
    --turquoise: #41ead4;
    --baby-powder: #fdfffc;
    --orange-peel: #ff9f1c;
    --light-gray: #ddd;
}

body, h1, p, ul {
    margin: 0;
    padding: 0;
    font-family: 'Cairo Play', sans-serif;
    color: #333;
}

nav {
    background-color: var(--rich-black);
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: var(--baby-powder);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--baby-powder);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

nav a:hover {
    background-color: var(--imperial-red);
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--imperial-red);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--baby-powder);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: var(--rich-black);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--turquoise);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.background-container.home {
    padding: 60px;
    background-image: url('../assets/blur-hospital.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-color: var(--baby-powder); 
}

.background-container.service1, .background-container.service2, .background-container.service3 {
    padding: 60px;
    background-image: url('../assets/medicine-science-concept-background.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-color: var(--baby-powder); 
}

.title-content {
    padding: 15px;
    background-color: var(--baby-powder); 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: fit-content; 
}

h1 {
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: bold;
}

.section-content {
    margin-top: 10px;
    padding: 20px;
}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 8px;
}
p {
    color: var(--orange-peel);
    line-height: 1.6;
}

/* Divider styling */
hr {
    border: 0;
    margin: 0px;
    height: 20px;
    background-color: var(--light-gray); /* Color of the divider line */
}

footer {
    background-color: var(--rich-black); /* Rich Black */
    color: var(--baby-powder); /* Baby Powder */
    padding: 20px;
    text-align: center;
}

.footer-container {
    max-width: auto;
    margin: 0 auto;
}

.footer-container p {
    margin: 0;
}
