<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.Title}}</title>
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cairo+Play:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="topnav" id="myTopnav">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <div class="dropdown">
                <button class="dropbtn">Services</button>
                <div class="dropdown-content">
                    <a href="/service1">Service 1</a>
                    <a href="/service2">Service 2</a>
                    <a href="/service3">Service 3</a>
                </div>
            </div>
        </nav>
    </body>
</html>
