{{template "header.html" .}}

<body>
    <div class="background-container home">
        <div class="title-content">
            <h1>{{.Title}}</h1>
            <p>Welcome to our Sample Site!</p>
        </div>
    </div>
    <hr>

    <!-- Your actual content goes here -->
    <div class="section-content">
        <h2>Latest Updates</h2>
        <p>Check out our latest news and updates:</p>
        <ul>
            <li>Exciting Announcement</li>
            <li>New Features Added</li>
            <li>Upcoming Events</li>
        </ul>
    </div>

    {{template "footer.html" .}}
</body>

