{{template "header.html" .}}

<body>
    <div class="background-container home">
        <div class="title-content">
            <h1>{{.Title}}</h1>
            <p>Welcome to our Sample Site!</p>
        </div>
    </div>
    <hr>

    <section class="section-container">
        <div class="section-content">
            <div class="rectangle-1">
                <h2>Latest Updates</h2>
            </div>            
            <p>Check out our latest news and updates:</p>
            <ul>
                <li>Exciting Announcement</li>
                <li>New Features Added</li>
                <li>Upcoming Events</li>
            </ul>
        </div>
        <div class="section-content">
            <div class="rectangle-2">
                <h3>Want to learn more? Get in touch!</h3>
            </div>
            <ul>
                <li>Follow us on all social media platforms with the same handle @ExampleUsername!</li>
                <li><a href="#">Contact us directly here!</a></li>
            </ul>
        </div>
        <div class="section-content">
            <div>
                <img src="../assets/doctor-nurse-cartoon.jpg" alt="doctor-nurse-cartoon">
            </div>
        </div>
    </section>

    <hr>
    <section class="section-container">
        <h1>Contact</h1>
        <form id="contact-form" hx-post="/form" hx-swap="outerHTML">
            <!-- Add your form fields here -->
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <input type="submit" value="Submit">
        </form>
    </section>
    {{template "footer.html" .}}
</body>

