{{template "header.html" .}}

<body>
    <div class="background-container home">
        <div class="title-content">
            <h1>{{.Title}}</h1>
            <p>Welcome to our Sample Site!</p>
        </div>
    </div>
    <hr>

    <div class="section-container"><div class="section-content">
            <div class="trap-wrapper">
                <div class="trapezoid">
                    <h2>Latest Updates</h2>
                </div>
                <div class="triangle">
                </div>
            </div>            
            <p>Check out our latest news and updates:</p>
            <ul>
                <li>Exciting Announcement</li>
                <li>New Features Added</li>
                <li>Upcoming Events</li>
            </ul>
        </div>
        <div class="section-content">
            <div class="rectangle">
                <h3>Want to learn more? Get in touch!</h3>
            </div>
            <ul>
                <li>Follow us on all social media platforms with the same handle @ExampleUsername!</li>
                <li>Maybe add an 'a' element for a form at the bottom of the page?</li>
            </ul>
        </div>
        <div class="section-content">
            <div>
                <h4>Add some kind of image here perhaps?</h4>
            </div>
        </div>
    </div>
    {{template "footer.html" .}}
</body>

